<mat-tab-group>
  <div *ngIf='residualsLoading'>
    <mat-spinner mode="indeterminate"></mat-spinner>
    <b>Loading...</b>
  </div>
  <mat-tab label="Lease Residuals">
    <div *ngIf="residualsLoaded">
      <app-objectarrayprint [object]="residuals"></app-objectarrayprint>
    </div>
  </mat-tab>
  <mat-tab label="Dealer Profile">
    <div *ngIf='dealerProfileLoading'>
      <mat-spinner mode="indeterminate"></mat-spinner>
      <b>Loading...</b>
    </div>
    <div *ngIf="dealerProfileLoaded">
      <app-objectarrayprint [object]="dealerProfiles"></app-objectarrayprint>
    </div>
  </mat-tab>
  <mat-tab label="Year Residual Impactor">
    <div *ngIf='yearResidualImpactorLoading'>
      <mat-spinner mode="indeterminate"></mat-spinner>
      <b>Loading...</b>
    </div>
    <div *ngIf="yearResidualImpactorLoaded">
      <app-objectarrayprint [object]="yearResidualImpactors"></app-objectarrayprint>
    </div>
  </mat-tab>
</mat-tab-group>