<mat-tab-group>
  <div *ngIf='residualsLoading'>
    <mat-spinner mode="indeterminate"></mat-spinner>
    <b>Loading...</b>
  </div>
  <mat-tab label="Lease Residuals">
    <div *ngIf="residualsLoaded">
      <app-objectarrayprint objectName="residuals" [object]="residuals" [displayEdit]="false" [formatMap]="{value:'1.2-2'}"></app-objectarrayprint>
    </div>
  </mat-tab>
  <mat-tab label="Dealer Profile">
    <!-- <div *ngIf='dealerProfileLoading'>
      <mat-spinner mode="indeterminate"></mat-spinner>
      <b>Loading...</b>
    </div> -->
    <div [formGroup]="form">
      <mat-form-field class="state ml-13 outlinepaddingselect" appearance="outline">
        <mat-label>State</mat-label>
        <mat-select formControlName="state" (selectionChange)="stateSelected($event)">
          <mat-option *ngFor="let s of states" [value]="s.value">
            {{ s.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="dealerProfileLoaded">
      <app-objectarrayprint objectName="dealerProfiles" [object]="dealerProfiles" [displayEdit]="false">
      </app-objectarrayprint>
    </div>
  </mat-tab>
  <mat-tab label="Year Residual Impactor">
    <div *ngIf='yearResidualImpactorLoading'>
      <mat-spinner mode="indeterminate"></mat-spinner>
      <b>Loading...</b>
    </div>
    <div *ngIf="yearResidualImpactorLoaded">
      <app-objectarrayprint objectName="Yearresidualimpactors" [object]="yearResidualImpactors" [displayEdit]="true">
      </app-objectarrayprint>
    </div>
  </mat-tab>
</mat-tab-group>