<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline" class="outlinepadding">
        <mat-label>Min ind income</mat-label>
        <input matInput formControlName="minIndIncome" placeholder="Min ind income" maxlength="8" class="matinput">
      </mat-form-field>&nbsp;
    </div>
    <div>
      <mat-form-field appearance="outline" class="outlinepadding">
        <mat-label>Min joint income</mat-label>
        <input matInput formControlName="minJointIncome" placeholder="Min joint income" maxlength="8" class="matinput">
      </mat-form-field>&nbsp;
    </div>
    <div>
      <mat-form-field appearance="outline" class="outlinepadding">
        <mat-label>Acquistion Fee</mat-label>
        <input matInput formControlName="acqFee" placeholder="Min joint income" maxlength="8" class="matinput">
      </mat-form-field>&nbsp;
    </div>
    <div mat-dialog-actions>
      <button color="accent" type="submit" color="primary" mat-raised-button>Save</button>
      <button mat-button type="button" (click)="onCancel()" tabindex="-1">Cancel</button>
    </div>
</form>