<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lease Terms
      </mat-panel-title>
      <mat-panel-description>
        Derived Deal
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span *ngIf="loading">
      <img
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </span>

    <div *ngIf="loaded">
      <table>
        <tr>
          <td>
            ICO
          </td>
          <td class="numericcell">
            {{lease.leaseResult.bookCalc.icoValue | number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Book Value
          </td>
          <td class="numericcell">
            {{lease.leaseResult.bookCalc.value | number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Sale Price
          </td>
          <td class="numericcell">
            {{lease.leaseResult.grossCapCost.salePrice | number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Dealer Doc Fee
          </td>
          <td class="numericcell">
            {{lease.leaseResult.grossCapCost.dealerDocFee | number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Gross Cap Cost
          </td>
          <td class="numericcell">
            {{lease.leaseResult.grossCapCost.value | number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Adj Cap Cost
          </td>
          <td class="numericcell">
            {{lease.leaseResult.adjCapCost.value | number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Car Rating
          </td>
          <td class="numericcell">
            {{lease.leaseResult.residualCalculation.carRating}}
          </td>
        </tr>
        <tr>
          <td>
            Additional Miles Charge
          </td>
          <td class="numericcell">
            {{lease.leaseResult.annualMilesChargeCalc.value | number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Residual Calculation
          </td>
          <td class="numericcell">
            {{lease.leaseResult.residualCalculation.value | number : '1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Lease Payment Calculation
          </td>
          <td class="numericcell">
            {{lease.leaseResult.pmtCalc.value | number : '1.2-2'}}
          </td>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Applicant
      </mat-panel-title>
      <mat-panel-description>
        Applicant Details
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="loaded">
      <table>
        <tr>
          <td>
            First name:
          </td>
          <td class="numericcell">
            {{lease.customerApp.firstName}}
          </td>
        </tr>
        <tr>
          <td>
            Last name:
          </td>
          <td class="numericcell">
            {{lease.customerApp.lastName}}
          </td>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vehicle
      </mat-panel-title>
      <mat-panel-description>
        Vehicle Details
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="vehicleLoaded">
      <table>
        <tr>
          <td></td>
          <td class="numericcell">
            {{vehicle.make}} {{vehicle.model}}
          </td>
        </tr>
        <tr>
          <td>
            VIN:
          </td>
          <td class="numericcell">
            {{vehicle.vin}}
          </td>
        </tr>
        <tr>
          <td>
            Miles:
          </td>
          <td class="numericcell">
            {{vehicle.miles}}
          </td>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>