.numericcell {
    text-align: right;
}

/* These styles taken this link for slider but what do they do? */
/* from https://stackblitz.com/edit/angular-1bly2u?embed=1&file=app/slider-configurable-example.ts */
.example-h2 {
    margin: 10px;
  }
  
.example-section {
display: flex;
align-content: center;
align-items: center;
height: 60px;
}

.example-margin {
margin: 10px;
}

.mat-slider-horizontal {
width: 300px;
}

.mat-slider-vertical {
height: 300px;
}

/* End slider styles */

.tabpadding {
  padding: 20px;
}
.hide {
  display:none;
}
.show {
  display:block;
}

.outlinepadding ::ng-deep .mat-form-field-infix {
  padding: 0px 0 3px 0; /* top,right,bottom,right */
  font-size: 14px;
}

/* moves input up/down, affects padding - helps to manage height of control */
.outlinepaddingselect ::ng-deep .mat-form-field-infix {
  padding: 12px 0 7px 0; /* top,right,bottom,right */
  // bottom: 10px;        /* moves text in textbox up and down, but arrow not aligned */
}

@media (min-width: 1500px) {
  .container{
      max-width: 900px;
  }
}
.fill-space {
  flex: 1 1 auto;
}

.my-fab {
  width: 20px;
  height: 20px;
  line-height: 14px;
  font-size: 14px;

  &::ng-deep .mat-button-wrapper{
      line-height: 14px;
      padding: 0;

       .mat-icon {
           font-size: 14px;
           padding-right: 4px;
           padding-top: 4px;
       }
 }
}