{{errorMessage}}
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 *ngIf='dealer'>{{dealer.dba}}</h3>
    <div>
      <mat-form-field appearance="outline" class="outlinepadding">
        <mat-label>CMS id</mat-label>
        <input matInput formControlName="cmsid" placeholder="cmsid" maxlength="18" class="matinput">
      </mat-form-field>&nbsp;
    </div>
    <div>
      <mat-form-field appearance="outline" class="outlinepadding">
        <mat-label>Dealer Doc Fee</mat-label>
        <input matInput formControlName="dealerDocFee" placeholder="Dealer doc fee" maxlength="18" class="matinput">
      </mat-form-field>&nbsp;
    </div>
    <div>
        <mat-form-field appearance="outline" class="outlinepadding">
          <mat-label>State Tax Rate</mat-label>
          <input matInput formControlName="stateTaxRate" placeholder="State Tax Rate" maxlength="18" class="matinput">
        </mat-form-field>&nbsp;
      </div>
      <div>
          <mat-form-field appearance="outline" class="outlinepadding">
            <mat-label>County Tax Rate</mat-label>
            <input matInput formControlName="countyTaxRate" placeholder="County Tax Rate" maxlength="18" class="matinput">
          </mat-form-field>&nbsp;
        </div>
          <div mat-dialog-actions>
      <button color="accent" type="submit" color="primary" mat-raised-button>Save</button>
      <button mat-button type="button" (click)="onCancel()" tabindex="-1">Cancel</button>
    </div>
</form>