<div style="float:left;">
    <ngx-charts-number-card [view]="view" [scheme]="crownHondaScheme" [results]="crownhonda">
    </ngx-charts-number-card>
</div>
<div style="float:left;">
    <ngx-charts-number-card [view]="view" [scheme]="crownJaguarScheme" [results]="crownjaguar">
    </ngx-charts-number-card>
</div>
<br />
<div>
    <div flex-gt-sm="50">
        <div class="pad">
            <div [style.height.px]="250">
                <ngx-charts-bar-vertical [results]="single" [view]=[500,250]
                    [scheme]="{ domain: [ '#30E07B', '#E75691', '#00C0FF', '#5D6A75' ] }" [barPadding]="10"
                    [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="'Legend'"
                    [xAxisLabel]="'Year'" [yAxisLabel]="'Sales'" [showXAxisLabel]="true" [showYAxisLabel]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>
</div>
<div style="clear:both;" >
